.miyvi {
    width: 500px;
    height: 500px;
    font-style: initial;
    padding: 27px;
    margin: 175px;
    float: right;
    margin-block-start: -385px;

}
.carousel {
    height: 350px;
    width: 610px;
    padding: 30px;
    margin: 30px;
}
.contenedor {
    width: 1070px;
}
img {
    vertical-align: middle;
    border-style: groove;
    border-radius: 20px;
}
img.d-block.w-100 {
    height: 300px;
    border: solid rgb(38, 57, 235)
}
div#container {
    border: solid rgb(38, 57, 235);
    border-radius: 25px;
}