<div id="carousel" class="carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/assets/iconos/dental-child.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/iconos/family-dental.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/iconos/dental-child.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

  <div class="miyvi" id="container">
    <h2>Misión y visión</h2>
    <br />
    <h3>Misión:</h3>
    <p>
      En la Clínica Odontológica Risitas le damos una importancia de cómo
      realizamos nuestro trabajo, a cómo nos relacionamos con nuestros
      pacientes. Queremos crecer para ser tu clínica. Pero lo más importante es
      que tú quieras que seamos tu clínica. Que nos aprecies por cómo somos.
    </p>
    <br />
    <h3>Visión:</h3>
    <p>
      Ser una clínica dental de vanguardia conformada por un equipo de
      odontólogos de primer nivel, comprometidos con su actualización continua,
      beneficiando de esta manera a todas las personas que nos confía su salud
      dental.
    </p>
  </div> 

