<div id="container">
<div class="card" style="width: 16rem" >
    <img src= "/assets/iconos/diente.jpg"   class="foto" alt="tratamientos" />
    <div class="card-body">
      <h5 class="card-title">Odontopediatría : </h5>

      <h5 class="card2">La Odontopediatría es la especialidad de la Odontología 
        que se enfoca en atender pacientes desde su nacimiento hasta la edad adulta. </h5>  
  
    </div>
  </div>

  <div class="card" style="width: 16rem" >
    <img src= "/assets/iconos/infantil.jpg"   class="foto" alt="tratamientos" />
    <div class="card-body">
      <h5 class="card-title"> Trauma dentoalveolar:  </h5>

      <h5 class="card2">Son lesiones que se producen en los dientes, hueso y demás tejidos
         de sostén, secundario derivados de un impacto físico contra ellos. </h5>  
  
    </div>
  </div>
  <div class="card" style="width: 16rem" >
    <img src= "/assets/iconos/cuidado-dientes.jpg"   class="foto" alt="tratamientos" />
    <div class="card-body">
      <h5 class="card-title">  Maloclusiones:   </h5>

      <h5 class="card2"> Es la incorrecta alineación de los dientes.
        El paciente presenta una diferencia de tamaño entre mandíbulas o entre mandíbula 
        y diente. </h5>  
  
    </div>
  </div>
</div>
<div class="card" style="width: 16rem" >
  <img src= "/assets/iconos/dientes.jpg"   class="foto" alt="tratamientos" />
  <div class="card-body">
    <h5 class="card-title"> Periodoncia en niños:  </h5>

    <h5 class="card2"> La enfermedad se caracteriza en niños y adolescentes por una rápida pérdida del hueso alveolar y 
      ligamento periodontal de uno o más dientes. Se puede clasificarse según su severidad en leve, 
      moderada o grave, y por su extensión en localizada o generalizada. </h5>  

  </div>
</div>
<div id="container1">
    <div class="card" style="width: 16rem" >
        <img src= "/assets/iconos/odontopedi.jpg"   class="foto" alt="tratamientos" />
        <div class="card-body">
          <h5 class="card-title"> Labio y paladar hendido: </h5>

          <h5 class="card2">Son defectos congénitos. Ocurre cuando el labio superior y el paladar
             no se desarrollan correctamente. Esto sucede en los primeros meses de embarazo.
            Un bebé puede tener paladar hendido o labio leporino o ambos. </h5>  
      
        </div>
      </div>
      <div class="card" style="width: 16rem" >
        <img src= "/assets/iconos/odontopediatria.jpg"   class="foto" alt="tratamientos" />
        <div class="card-body">
          <h5 class="card-title"> Patología y cirugía oral:   </h5>
          <h5 class="card2"> Es la especialidad médico-quirúrgica que se centra en el estudio, 
            diagnóstico, tratamiento y rehabilitación de las enfermedades congénitas o adquiridas 
            de la cavidad oral, el esqueleto facial y las estructuras cervicales relacionadas.  </h5>  
      
        </div>
      </div>
      
    </div>
